%tr
	%th Description
	%th Category
	%th Status
	%th Applied
- @user_apps.each do |app|
	%tr{ class: status_color(app)}
		%td= app.description
		%td= app.category.present? ? app.category.name : 'Not yet defined'
		%td= check_status(app)
		%td= application_date(app)