%tr
	%th Description
	%th Category
	%th Status
- @user_apps.each do |app|
	%tr
		%td= app.description
		%td= app.category.present? ? app.category.name : 'Not yet defined'
		%td= app.status.present? ? app.status : 'Pending'