/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


.form {
	width: 300px;
	display: inline-block;
}

.register {
	padding: 0 40px;
	display: inline-block;
	vertical-align: top;
}

.panel {
	margin-top: 20px;
}

.pagination {
	display: block;
	text-align: center;
	a, em {
		border: 1px solid #ddd;
		padding: 8px;
		&:hover {
			background-color: #337ab7;
			color: #fff;
			text-decoration: none;
		}
	}
	.current {
		background: #ddd
	}
}